<div id="<%= dom_id schedule %>">
  <p>
    <strong>Title:</strong>
    <%= schedule.title %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= schedule.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= schedule.end_time %>
  </p>

</div>
